# Environment variables
.env
*.env
.env.local
.env.development
.env.test
.env.production



admin_credentials.txt


smart_camera_system.db






# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/

# Logs
*.log

# IDEs
.vscode/
.idea/